* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    height: 100vh;
    background: linear-gradient(
      90deg,
      rgb(190, 104, 240) 0%,
      rgb(92, 23, 160) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .container {
    padding: 30px 40px;
    width: 30%;
    min-width: 500px;
  }
  .checked {
    text-decoration: line-through;
  }
  
  form {
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    display: flex;
  }
  
   input {
    flex: 3;
    font-size: 1rem;
    border: 2px solid #d1d3d4;
    border-radius: 5px;
    padding: 12px;
    font-weight: 500;
  }
  
   input:focus {
    outline: none;
    border-color: #961fd6;
  }
  
  button{
    flex: 1;
    border-radius: 5px;
    font-weight: 500;
    height: 100%;
    font-size: 1rem;
    border: none;
    background-color: #7727e8;
    color: #fff;
    padding: 12px;
    margin-left: 12px;
    cursor: pointer;
  }
  
  ul{
    background-color: #fff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
  }
  li{
   list-style: none;
   font-size: 20px;
  }
  legend{
    color: white;
    margin: 10px;
  }
  
 
  .close{
    color: red;
    font-size: 12px;
    position: absolute;
    padding-left: -18px;
    margin-top: 50px;

    text-align: center;
  }
  .fa-trash{
  color: red;
  margin: 5px;
  }
  @media (max-width: 1024px){
    body{
      width:100%;
     
    }
    .container{
      padding: 30px 40px;
      width: 10%;
      min-width: 460px;
    }

}
 